DISCORD_TOKEN="" # Discord application token
APP_ID="" # Discord application ID
DISCORD_USER_ID="" # ID of discord user

ANIME_WATCHED="Amount of anime watched"
NR1_ANIME="name of #1 anime"
NR1_ANIME_IMG="<URL to nr1_anime_img.png>" # always put a image link or a random link. othewise you get code 400 cause it cant find a image
NR2_ANIME="name of #2 anime"
NR2_ANIME_IMG="<URL to nr2_anime_img.png>" # same thing
NR3_ANIME="name of #3 anime"
NR3_ANIME_IMG="<URL to nr3_anime_img.png>" #same thing
