# Discord variables
DISCORD_TOKEN="" # Discord application token
APP_ID="" # Discord application ID
DISCORD_USER_ID="" # ID of discord user

# Steam variables
STEAM_USER_ID="" # Steam user ID https://steamid.io/lookup/
STEAM_API_KEY="" # Steam API key https://steamcommunity.com/dev/apikey

